# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
.idea/
*.iml
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Kotlin
*.class
*.kotlin_module

# Android captures
/captures

# IntelliJ
out/

# Keystore files
*.jks
*.keystore

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Google Services (e.g. APIs or Firebase)
google-services.json

# Version control
vcs.xml

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# Android Profiling
*.hprof